.footer {
  width: 100%;
  height: 300px;
  background-color: #272729;
  display: flex;
  justify-content: center;
  color: white !important;
}

.footer-parent {
  padding-top: 30px;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 20px;
}

.footer Text {
  margin-bottom: 10px !important;
  margin-top: 0 !important;
  text-align: center !important;
}

.footer-header {
  text-align: center !important;
  margin-bottom: 30px;
  color: #f4c430 !important;
}

.footer-text {
  text-align: center;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}

.footer-text:hover {
  color: #f4c430 !important;
}
