.parent {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid black;
}

.background {
  background-color: #272729;
  height: 100%;
  width: 100%;
}

.grid-parent {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  height: 100%;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 30px;
}

.text {
  color: #f4c430 !important;
  margin-right: 15px;
  transition: all 0.5s ease;
}

.text:hover {
  color: white !important;
}

.input {
  margin-right: -30px;
}
