.home-parent {
  height: fit-content;
  background-color: #fafafa;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: 30px;
}

.hero {
  width: 100%;
  height: 400px;
  background-color: #d9d9d9;
  position: relative;
}

.hero-image {
  object-fit: cover;
  width: 100%;
  height: 400px;
  filter: brightness(50%);
}

.hero-text {
  position: absolute;
  font-size: 2.5em !important;
  top: 40%;
  left: 30%;
  z-index: 5 !important;
  color: white !important;
}

.sectors {
  width: 100%;
  height: 800px;
  background-color: #fafafa;
}

.sectors-header {
  color: #f4c430 !important;
  text-align: center;
}

.sectors-grid-parent {
  display: flex;
  justify-content: center;
  height: auto;
}

.item {
  height: 300px;
  width: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sectors-grid {
  width: 80%;
  height: 100%;
  /* border: 1px solid black; */
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  row-gap: 30px;
}

.sectors-placeholder-image {
  height: 200px;
  width: 100%;
  background-color: #d9d9d9;
}

.sector-image {
  object-fit: cover;
  width: inherit;
  height: inherit;
  filter: brightness(90%);
  transition: 0.5s ease all;
}

.sector-image:hover {
  filter: brightness(60%);
  cursor: pointer;
}

.sectors-text {
  color: #f4c430 !important;
  text-align: center;
}

.description {
  width: 100%;
  height: 700px;
  background-color: #272729;
  color: white !important;
}

.description-parent {
  padding-left: 100px;
  padding-top: 150px;
}

.description-header {
  margin-bottom: 40px;
}

.description-sub-header {
  color: #f4c430 !important;
  margin-bottom: 40px;
}

.description-paragraph {
  width: 80%;
}

.images {
  width: 100%;
  height: 600px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}

.images-parent {
  padding-top: 100px;
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  gap: 15px;
}

.image-carousel {
  object-fit: cover;
  width: 100%;
  height: inherit;
  filter: brightness(80%);
}

.image-holder {
  background-color: #d9d9d9;
  height: 400px;
  width: auto;
}

.right-arrow,
.left-arrow {
  /* background-color: #d9d9d9; */
  height: 40px;
  width: 40px;
  transition: 0.5s ease all;
}

.right-arrow:hover,
.left-arrow:hover {
  cursor: pointer;
  color: #f4c430 !important;
}

.right-arrow-parent,
.left-arrow-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.footer {
  width: 100%;
  height: 300px;
  background-color: #272729;
  display: flex;
  justify-content: center;
  color: white !important;
}

.footer-parent {
  padding-top: 30px;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 20px;
}

.footer Text {
  margin-bottom: 10px !important;
  margin-top: 0 !important;
  text-align: center !important;
}

.footer-header {
  text-align: center !important;
  margin-bottom: 30px;
  color: #f4c430 !important;
}

.footer-text {
  text-align: center;
  margin-bottom: 10px;
}
