@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  color: white !important;
} */
option {
  color: black !important;
}
:root {
  --foreground-rgb: 59, 57, 57;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 59, 57, 57;
    --background-end-rgb: 59, 57, 57;
  }
}

body {
  background-color: grey;
}

button {
  background-color: aqua;
}

.bodyWithMargins {
  margin-left: 10%; /* Adjust the left margin size as needed */
  margin-right: 10%; /* Adjust the right margin size as needed */
  background-color: black; /* Set the background color to black */
}
