@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 59, 57, 57;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb:  59, 57, 57;
    --background-end-rgb:  59, 57, 57;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bodyWithMargins {
  margin-left: 10%; /* Adjust the left margin size as needed */
  margin-right: 10%; /* Adjust the right margin size as needed */
  background-color: black; /* Set the background color to black */
}