.mental-parent {
  height: fit-content;
  background-color: #fafafa;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: 30px;
}

.hero {
  width: 100%;
  height: 400px;
  background-color: #d9d9d9;
  position: relative;
}

.hero-image {
  object-fit: cover;
  width: 100%;
  height: 400px;
  filter: brightness(50%);
}

.hero-text {
  position: absolute;
  font-size: 2.5em !important;
  top: 40%;
  left: 45%;
  z-index: 5 !important;
  color: white !important;
}

.hero-text-description {
  position: absolute;
  font-size: 2.5em !important;
  top: 60%;
  left: 10%;
  z-index: 5 !important;
  color: white !important;
}

.description {
  height: 1000px;
  background-color: #272729;
  width: 100%;
  color: white !important;
}

.sub-header-image-text {
  display: flex;
  justify-content: center;
}

.sub-header {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sub-header-image {
  padding-left: 50px;
  width: 30%;
  height: 400px;
  background-color: #fafafa;
}

.sub-header-text {
  padding-right: 50px;
  width: 60%;
  text-align: center;
  padding-left: 50px;
}

.sub-header-heading {
  font-weight: bold;
  color: #f4c430 !important;
}

.sub-header-image-parent {
  margin-top: 100px;
}

.sub-header-images {
  display: grid;
  justify-items: center;
  column-gap: -50px;
  grid-template-columns: 300px 300px 300px;
  padding-left: 100px;
  padding-right: 100px;
}

.sub-header-images-image {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 350px;
  background-color: #fafafa;
}

.documents-parent-container {
  height: 800px;
  background-color: white;
  width: 100%;
}

.documents-header {
  color: #f4c430;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}

.documents-parent {
  width: 100%;
  color: white !important;
  display: flex;
  justify-content: center;
}

.documents {
  padding-top: 75px;
  display: grid;
  justify-items: center;
  align-items: center;
  height: fit-content;
  padding-left: 5%;
  padding-right: 5%;
  grid-template-columns: 30% 30% 30%;
  column-gap: 30px;
  row-gap: 50px;
}

.documents-item {
  width: 200px;
  height: 200px;
  background-color: #272729;
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  transition: all 0.5s ease;
}

.documents-item:hover {
  background-color: #515157;
  cursor: pointer;
  border-radius: 20px;
}

.documents-item-title {
  font-weight: bold;
  color: #f4c430;
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  height: 300px;
  background-color: #272729;
  display: flex;
  justify-content: center;
  color: white !important;
}

.footer-parent {
  padding-top: 30px;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 20px;
}

.footer Text {
  margin-bottom: 10px !important;
  margin-top: 0 !important;
  text-align: center !important;
}

.footer-header {
  text-align: center !important;
  margin-bottom: 30px;
  color: #f4c430 !important;
}

.footer-text {
  text-align: center;
  margin-bottom: 10px;
}
